@import "~taro-ui/dist/style/components/avatar.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/calendar.scss";
.scrollview {
  height: 1000px;
  width: 100%;
  background-color: #F1F1F1;

}
.reservation {
  display: flex;
  width: 90%;
  height: 100px;
  background-color: white;
  border-radius: 10px;
  padding-left: 2%;
  margin-left: 2.5%;
  margin-top: 4%;
  align-items: center;
}
.reservationTime {
  display: flex;
  align-items: center;
  padding-left: 200px;
}
.timeText {
  color: #A69999;
}
