.index11{
  display: flex;
  height: 1200px;
  width: 100%;
  flex-direction: column;
}


.top{
  flex:2.5;
  display: flex;
  background-image: url("https://images.unsplash.com/photo-1538506392157-218c11f95129?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHpvb20lMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60");
}

.main{

  flex:7.5;
}
.atitle .item-content__info-title {
  margin-top: 100px;
  font-weight: bold;
  padding-bottom: 10px;
}

.atitle1 .item-content__info-title {

  font-weight: bold;
  padding-bottom: 10px;
}
.at-avatar{
  margin-top: 115px;
  margin-left: 50px;
  margin-right: 10px;
}
.Alist1 .item-content__info-title{
  font-weight: bold;
  color: red;
}
.at-list__item .item-extra__info{
  position: relative;
  left: -300px;
}
